---
import Section from './Section.astro'
---

<Section
  title='Model 3'
  subtitle='Concertar una prueba de conducción'
  color='black'
  underline
  extraAnchorTag
  id='model-3'
>
  <div
    class='flex flex-col mx-auto gap-x-4 gap-y-4 w-11/12 sm:flex-row sm:gap-y-0 sm:w-full sm:justify-center'
    slot='footer'
  >
    <a
      class='border-[3px] border-[#3B3D41] bg-[#3B3D41] text-sm rounded font-medium text-white px-12 py-2 transition-colors hover:bg-neutral-800 hover:border-neutral-800 inline-flex justify-center items-center'
      href='#'>Explorar inventario</a
    >
    <a
      class='bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black'
      href='#'>Pedido personalizado</a
    >
  </div>
  <img
    slot='background'
    src='/model-3.avif'
    alt='Model 3'
    class='h-full w-full object-cover object-center'
  />
</Section>
