---
import Section from './Section.astro'
---

<Section
  title='Model S'
  subtitle='Programe una consulta virtual'
  color='black'
  underline
>
  <div class='flex mx-auto gap-x-4' slot='footer'>
    <a
      class='border-[3px] border-[#2E2F36] bg-[#2E2F36] text-sm rounded font-medium text-white px-12 py-2 transition-colors hover:bg-neutral-800 hover:border-neutral-800 inline-flex justify-center items-center'
      href='#'>Pedido personalizado</a
    >
    <a
      class='bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black'
      href='#'>Saber más</a
    >
  </div>
  <img
    slot='background'
    src='/model-s.avif'
    alt='Model S'
    class='h-full w-full object-cover object-center'
  />
</Section>
