---
import Section from './Section.astro'
---

<Section
  title='Solar y Powerwall'
  subtitle='Energía para todos'
  color='black'
  id='powerwall'
>
  <div class='flex mx-auto gap-x-4' slot='footer'>
    <a
      class='border-[3px] border-[#232429] bg-[#232429] text-sm rounded font-medium text-white px-12 py-2 transition-colors hover:bg-neutral-800 hover:border-neutral-800 inline-flex justify-center items-center'
      href='#'>Saber más</a
    >
  </div>
  <img
    slot='background'
    src='/solar-powerwalls.avif'
    alt='Solar y powerwalls'
    class='h-full w-full object-cover object-center'
  />
</Section>
